/* Header styles */

header {
  margin: auto;
  margin-bottom: 30px;
}

header h1 {
  padding: 10px;
  border-bottom: 1px solid black;
}

header img {
  height: 100px;
}

span {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 19ch;
  animation: typing 5s infinite steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
